**/dist/
**/node_modules/
**/.nyc_output
/.idea
**/docs
**/.docz/
**/*.tsbuildinfo
**/src/proto/*.proto
**/protos/src/*.proto
**/ProtoUtils/**
**/protoUtils/**
**/protoTypes/**
**/tests/coverage
.vscode
**/resourceRegistry.log
.turbo
.DS_Store
**/env/
