on:
  release:
    types:
      - created

permissions:
  id-token: write
  contents: read
env:
  REGISTRY: ghcr.io

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    name: Deploy Conduit
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to the Dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build conduit modules
        run: |
          make all
  publish_sdk:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Set env
        run: echo "RELEASE_VERSION=$(echo ${GITHUB_REF#refs/*/} | sed 's/^v//')" >> $GITHUB_ENV
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: '23.x'
      - name: install dependencies
        run: yarn install --pure-lockfile --non-interactive
      - name: actually_publish
        run: yarn publish --access public --new-version ${{ env.RELEASE_VERSION }}
        working-directory: ./libraries/grpc-sdk
        env:
          NODE_AUTH_TOKEN: "${{ secrets.NPM_PUBLISH_TOKEN }}"
  publish_module_tools:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Set env
        run: echo "RELEASE_VERSION=$(echo ${GITHUB_REF#refs/*/} | sed 's/^v//')" >> $GITHUB_ENV
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: '23.x'
      - name: install dependencies
        run: yarn install --pure-lockfile --non-interactive
      - name: build the sdk
        run: npx lerna run build --scope=@conduitplatform/grpc-sdk --scope=@conduitplatform/module-tools
      - name: actually_publish
        run: yarn publish --access public --new-version ${{ env.RELEASE_VERSION }}
        working-directory: ./libraries/module-tools
        env:
          NODE_AUTH_TOKEN: "${{ secrets.NPM_PUBLISH_TOKEN }}"
